header {
    color:rgb(255, 253, 253);
    border-style: hidden;
    padding: 20px 20px;
    font-size: 300%;
    position: center;
   text-align: center;
   text-shadow: -4px 4px rgba(179,179,179,.4), -8px 8px rgba(153,153,153,.2), -2px 2px rgba(179,179,179,.2), -1px 1px rgba(179,179,179,.2), 0px 0px rgba(128,128,128,.5), 1px -1px rgba(77,77,77,.6), 2px -2px rgba(77,77,77,.7), 3px -3px rgba(82,82,82,.8), 4px -4px rgba(77,77,77,.9), 5px -5px rgba(77,77,77,1);
  background-image: url("https://media1.giphy.com/media/xdzMB8GB03l3G/giphy.gif");
  background-size:contain; 
font-family: 'Lobster Two', cursive;
color: black;
font-size:150%;
}

a {
  border-style:hidden;
  float:right;
  color:white;
  width: auto;
  background-color: clear;
  list-style-type: disc;
  text-align: center;

}

a:hover{ 
  background-color: black;
  display:inline-block;
}


h1 {
  color:white;
  border-style: hidden;

}


article {
    display:block;
    background-color:clear;
}

h2 {
    color:white;
  text-align: center;
  }

  #dbz { 
    background-color: white;
  
  }


h3 {
  color:white;
  text-align: center;
}



h4 {
color:black;
}

.pass {
  color:red;
}

h5 {
  color:black;
  }
  

  
body {
  box-sizing: border-box;
background-image: url("https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/67516014_2396368657076981_5093291863947870208_n.jpg?_nc_cat=111&_nc_ohc=haf8vtmJBYoAX8NHuGR&_nc_ht=scontent-atl3-1.xx&oh=71856088cb51f89f84e7b070dc79ea59&oe=5EB78942");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-color:floralwhite;
background-size: cover;
font-family: 'Lobster Two', cursive;
color:black;
font-size: larger;
}

main {
  position: center;
  text-align: center;
  font-size: 300%;
}

#gold {
  font-family: 'Lobster Two', cursive;
  border-collapse: collapse;
  
 }



 #gold td, th {
  border:hidden;
text-align: center;
color:white;
background-color:black ;
 }



 #white th, td, tr {
  background-color:hotpink;
  color:white;
}



.block {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 20s;
}
@keyframes example {
  from {background-color: red;}
  to {background-color:gold;}
}